/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* *{
  outline: 2px solid red;
} */
.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "InterV";
  font-weight: var(--page-main-font-weight, 400);
  font-size: var(--page-main-font-size, 18px);
  background-color: var(--background-color);
  color: var(--page-color-text);
  padding: 0 1px;
}
.container {
  margin: 0 auto;
}
.theme-menu__list {
  display: grid;
  gap: 9px;
  padding-inline-start: 20px;
}
.header {
  margin-block-start: 102px;
  font-family: var(--page-accent-font);
  margin-block-end: 103px;
  min-inline-size: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
}
.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem)
    clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 0px;
}
.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
.footer {
  margin-block: 52px;
  padding-block-end: 100px;
}
/* header menu nav-list */
.header__theme-menu {
  margin-block-end: 22px;
}
.theme-menu__button {
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
  position: relative;
}
.theme-menu__button::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 2px;
  transition: opacity 1s ease;
  transform-origin: left;
  background-color: currentColor;
}
.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  opacity: 0.6;
}
.theme-menu__button:not(:focus-visible)::after,
.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transition: transform 0.5s ease;
}
.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
.theme-menu__button:not(:focus-visible)::after {
  transform: scaleX(0);
}

.theme-menu__button:disabled {
  opacity: 0.6;
}
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -25px;
  animation: pointer 0.5s infinite ease-in-out alternate;
}

/* card */
.card__list {
  display: grid;
  gap: 54.5px 0;
}
.card {
  outline: 2px solid var(--border-color);
  max-inline-size: 696px;
}
.card__title {
  font-weight: 700;
  padding: 5px 10px;
  line-height: 117%;
  border-block-end: 2px solid var(--border-color);
  font-weight: var(--page-title-font-weigth, 700);
}
.image__wrapper {
  overflow: hidden;
}
.card__content-image {
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}
.text__wrapper {
  display: grid;
  gap: 27px;
  padding: 25px;
  line-height: 117%;
  border-block-start: 2px solid var(--border-color);
}
.card__footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 25px;
}
.card__button-heart {
  block-size: 24px;
  inline-size: 27px;
}
/* card buttons */
.button {
  position: relative;
  font-size: 14px;
  color: var(--page-color-text);
  font-family: var(--page-accent-font);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  text-transform: inherit;
  padding: 10.5px 35px;
  line-height: 90%;
  transition: transform 1s;
  z-index: 1;
}
.button:focus-visible {
  box-shadow: 2px 2px;
  transition: box-shadow 0.5s;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  background-color: var(--border-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  z-index: -1;
}
.button:hover::before {
  transform: scaleX(1);
}
.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}
.button__img {
  inline-size: 21px;
  block-size: 21px;
}
/* FIlters */
.modifier__bright {
  filter: brightness(125%);
}
.modifier__greyscale {
  filter: grayscale(0.8);
}
.modifier__contrast {
  filter: saturate(400%);
}
.modifier__hue {
  filter: hue-rotate(30deg);
}
.modifier__blur {
  filter: blur(1rem);
}
.modifier__reverse {
  filter: invert(0.8);
}
.modifier__sepia {
  filter: sepia(80%);
}
.modifier__combine {
  filter: hue-rotate(95deg) sepia(0.4) blur(0.1em);
}
