/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* *{
  outline: 2px solid red;
} */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "InterV";
  font-size: var(--page-main-font-size, 18px);
  background-color: var(--background-color);
  color: var(--page-color-text);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin: 100px 0;
  align-self: center;
  font-family: var(--page-accent-font) ;
}
.theme-menu__button{
  background-color:transparent;
  font-size: 14px;
}
.theme-menu__button::after{
content: '';
display: block;
width: 0%;
height: 1px;
background-image: linear-gradient( rgba(0 0 0 60%), rgba( 0 0 0 1));
}
.theme-menu__button:hover{
  color: red;
}
.main {

  margin-block-end: 50px;
}
.footer {
}
.card__list {
  display: grid;
  gap: 55px 0;
}
.card__list-item {

}
/* card */
.card {
  outline: 2px solid var(--border-color);
  max-inline-size: 696px;
}
.card__title {
  font-weight: 700;
  padding: 4px 10px;
  line-height: 117%;
  border-block-end: 2px solid var(--border-color);
}
.image__wrapper {
  overflow: hidden;
}
.card__content-image {
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}
.text__wrapper {
  display: grid;
  gap: 27px;
  padding: 25px;
  line-height: 117%;
  border-block-start: 2px solid var(--border-color);
}
.card__footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 25px;
}
.card__button-heart {
  block-size: 24px;
  inline-size: 27px;
}
.card__button-like {
  font-family: var(--page-accent-font);
  font-size: 14px;
  background-color: transparent;
  border: 2px solid var(--border-color);
  padding: 10.5px 35px;
}

.card__button-like:hover {
  background-color: var(--page-color-text);
  color: var(--button-color);
  transition: background-color 1s, color 1s, linear;
}

/* FIlters */
.modifier__bright {
  filter: brightness(125%);
}
.modifier__greyscale {
  filter: grayscale(0.8);
}
.modifier__contrast {
  filter: saturate(400%);
}
.modifier__hue {
  filter: hue-rotate(30deg);
}
.modifier__blur {
  filter: blur(1rem);
}
.modifier__reverse {
  filter: invert(0.8);
}
.modifier__sepia {
  filter: sepia(80%);
}
.modifier__combine {
  filter: hue-rotate(95deg) sepia(0.4) blur(0.1em);
}
