/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* *{
  outline: 2px solid red;
} */
.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "InterV";
  font-size: var(--page-main-font-size, 18px);
  background-color: var(--background-color);
  color: var(--page-color-text);
  padding: 0 1px;
}
.container {
  margin: 0 auto;
}
.theme-menu__list {
  padding: 20px;
}
.header {
  margin-block-start: 100px;
  font-family: var(--page-accent-font);
  margin-block: 100px;
  min-inline-size: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theme-menu__button {
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
}
.theme-menu__button::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 2px;
  transition: opacity 1s ease;
  transform-origin: left;
  background-color: currentColor;
}
.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  opacity: 0.6;
}
.theme-menu__button:not(:focus-visible)::after,
.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transition: transform 0.5s ease;
}
.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
.theme-menu__button:not(:focus-visible)::after {
  transform: scaleX(0);
}
.footer {
  margin-block: 50px;
  padding-block-end: 100px;
}
.card__list {
  display: grid;
  gap: 55px 0;
}
.card__list-item {
}
/* card */
.card {
  outline: 2px solid var(--border-color);
  max-inline-size: 696px;
}
.card__title {
  font-weight: 700;
  padding: 4px 10px;
  line-height: 117%;
  border-block-end: 2px solid var(--border-color);
}
.image__wrapper {
  overflow: hidden;
}
.card__content-image {
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}
.text__wrapper {
  display: grid;
  gap: 27px;
  padding: 25px;
  line-height: 117%;
  border-block-start: 2px solid var(--border-color);
}
.card__footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 25px;
}
.card__button-heart {
  block-size: 24px;
  inline-size: 27px;
}
/* card buttons */
.card__button-like {
  position: relative;
  font-family: var(--page-accent-font);
  font-size: 14px;
  color: var(--page-color-text);
  background-color: transparent;
  text-transform: inherit;
  border: 2px solid var(--border-color);
  padding: 10.5px 35px;
  transition: transform 1s;
  z-index: 1;
}
.card__button-like:focus-visible{
  box-shadow: 2px 2px;
  transition: box-shadow 0.5s;
}
.card__button-like::before{
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  background-color: currentColor;
  z-index: -1;
}
.card__button-like span{
  color: var(#fff);
  mix-blend-mode: difference;
}
.card__button-like:hover::before{
  transform: scaleX(1);
}
/* FIlters */
.modifier__bright {
  filter: brightness(125%);
}
.modifier__greyscale {
  filter: grayscale(0.8);
}
.modifier__contrast {
  filter: saturate(400%);
}
.modifier__hue {
  filter: hue-rotate(30deg);
}
.modifier__blur {
  filter: blur(1rem);
}
.modifier__reverse {
  filter: invert(0.8);
}
.modifier__sepia {
  filter: sepia(80%);
}
.modifier__combine {
  filter: hue-rotate(95deg) sepia(0.4) blur(0.1em);
}
