/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --background-color: var(--color-dark, #000000);
  --page-color-text: var(--color-green, #00cc14);
  --border-color: var(--color-green, #00cc14);
  --button-bg-color: var(--background-color, #000000);
  --button-text-color: var(--color-green, #00cc14);
  --page-main-font-weight: 465;
  --page-title-font-weigth: 785;
}
:root.theme-light {
  --background-color: var(--color-white, #fff);
  --page-color-text: var(--color-dark, #000000);
  --border-color: var(--color-dark, #000000);
  --button-bg-color: var(--background-color, #fff);
  --button-text-color: var(--color-white, #fff);
  --page-main-font-weight: 400;
  --page-title-font-weigth: 700;
}
