:root {
    --page-main-font: "InterV";
    --page-main-font-weight: 400;
    --page-accent-font: "PressStart2P";
    --page-main-font-size: 18px;
    --page-title-font-weigth: 700;
    --color-dark: #000000;
    --color-white: #fff;
    --color-green: #00cc14;
    
    --background-color: var(--color-white, #fff);
    --page-color-text: var(--color-dark, #000000);
    --border-color: var(--color-dark, #000000);
    --background-image:  repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px 2px ,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(
      to left,
      #d3d3d3 0px 2px ,
      #d3d3d300 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --button-bg-color: var(--background-color, #fff);
    --button-text-color: var(--color-white, #fff);
    --button-font-size: 14px;

    --fill-color-contur:var(--border-color);
    --fill-color-sparks: #ff0000;
    --fill-color-bg: var(--background-color);
  }
  