:root {
  --page-main-font: "InterV";
  --page-main-font-weight: 400;
  --page-accent-font: "PressStart2P";
  --page-main-font-size: 18px;

  --color-dark: #000000;
  --color-white: #fff;
  --color-green: #00cc14;

  --background-color: var(--color-white, #fff);
  --page-color-text: var(--color-dark, #000000);
  --border-color: var(--color-dark, #000000);
  --button-color: var(--color-white, #fff);

}
